.clients-main-layout{
    // width: 80%;
}
.padding-20{
    padding: 20px;
}

.white-background{
    background-color: #fff;

}
.grid-gap-20{
    grid-gap:20px;
}
.clients-top-layer{
    padding: 20px 0 10px 20px;
}
.clients-bottom-layer{
    padding: 5px 10px 5px 20px;
}
.clients-notification-card{
    padding: 10px;
    height: 400px;
    position: relative;
}
.clients-order-table{
    height: 540px;
}
.clients-layer__button{
    width: 100%;
    position: absolute;
    top: 190px;
    background-color: brown;
}