
@import './orders.scss';
@import './sidebar.scss';
@import './clients.scss';
@import 'antd/dist/antd.css';

html{
  // background: #f0f2f5;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // overflow: hidden;
  // background-color: darkgray;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.to-bottom{
  margin: auto 0 0 0;
}
.ant-layout{
  // height: 100vh;
  // height: 100%;
  
}
.main-wrapper{
  background-color: aqua;
  height: 100vh;
}
