.white{
    background-color: #fff;
}
.main-layout{
    height: 640px;
    
}
.inner-shadow{
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.1) inset;  
}
.margin-10{
    margin: 10px;
}
.margin-auto{
    margin: 0 auto;
}
.padding-10{
    padding: 10px;
}
.flex{
    flex: 1 1;
}
.border{
    border: 1px solid rgba(0,0,0, 0.5)
}
.margin-top-10{
    margin-top: 10px;
}
.margin-0{
    margin:0;
}
.order-wraper{
    width: 90%;
}
.turquoise{
    background-color: rgba(64,224,208, 1);
}
.light-blue-text{
    color: rgba(92, 203, 255, 1);
}