.white{
    background-color: #fff;
}
.main-layout{
    min-height: 618px;
    // height: 100vh;
    margin-top:20px;
    
}
.inner-shadow{
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.1) inset;  
}
.margin-10{
    margin: 10px;
}
.margin-auto{
    margin: 0 auto;
}
.padding-10{
    padding: 10px;
}
.padding-0{
    padding: 0;
}
.flex{
    flex: 1 1;
}
.border{
    border: 1px solid rgba(0,0,0, 0.5)
}
.active-card-red{
    transition: all ease 0.2s;
    border-left: 3px solid red;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-bottom-10{
    margin-bottom: 10px;
}
.margin-right-10{
    margin-right: 10px;
}
.margin-0{
    margin:0;
}
.order-wraper{
    width: 90%;
}
.turquoise{
    background-color: rgba(64,224,208, 1);
}
.light-blue-text{
    color: rgb(0, 156, 228);
}
.overflow-y-scroll{
    overflow-y: scroll;
}
.overflow-y-hidden{
    overflow-y: hidden;
}
.overflow-x-hidden{
    overflow-x: hidden;
}
.height-500{
    height: 500px;
}
.height-415{
    height: 415px;
}
.text-decoration-none{
    text-decoration:none;
    color: #000;
}
.border-radius-20{
    border-radius:20px;
}
.background-color-gray{
    background-color: gray;
}
.color-green{
    color: #00b566;
}
.font-weight-600{
    font-weight: 600
}
.font-weight-400{
    font-weight: 400
}
.font-size-12{
    font-size: 12px;  
}
.vertical-divider{
    font-weight: 200;
    margin: 0 10px 0 10px;
}
.text-align-center{
    text-align: center;
}
.order-main-info{
    padding: 10px;
}
// .order-main-info div:nth-child(1){
//     padding: 0;
// }
.padding-left-10{
    padding-left: 10px;
}
.min-width-300{
    min-width:300px; 
}
.ant-btn .anticon {
    transition: all ease 0.3s ;
    transform: rotate(180deg);
    
    
}
// .ant-btn .anticon:hover{
//     transition: all ease 0.3s;
//     transform: rotate(0deg);
// }
.closed{
    transition: all ease 0.3s;
    transform: rotate(0deg);
}